<div class="container">
  <div>
    <h1 class= "col s12 offset-s2">Daily Quest</h1>
</div>
<div class="row center">
    <h3>만든 사람들</h3>
</div>
  
<!--크레딧 팝아웃  -->
  
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>만든 사람들</div>
      <div class="collapsible-body"><span>
        <ul type="square">
          <li><i class="material-icons">content_paste</i>기획
            <ul>
              <li>기재민 - 동국대학교</li>
              <li>안민준 - 동국대학교</li>
            </ul>
          </li>
          <li><i class="material-icons">computer</i>프론트엔드
            <ul>
              <li>김민정 - 이화여자대학교</li>
              <li>박희융 - 동국대학교</li>
            </ul>
          </li>
          <li><i class="material-icons">content_copy</i>백엔드
            <ul>
                <li>신혜지 - 숙명여자대학교</li>
                <li>이광빈 - 동국대학교</li>
                <li>최희재 - 서울시립대학교</li>
            </ul>
          </li>
        </ul>
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>팀 소개</div>
      <div class="collapsible-body"><span>팀 '난 4번'은 이회여자대학교 김민정 학생이 제안한 이름으로써 나는 아무 생각이 없음을 의미합니다.<br> 난 4번은 동국대학교, 서울시립대학교, 이화여자대학교, 숙명여자대학교의 연합으로 구성된 팀입니다.<br>데일리 퀘스트라는 아이디어로 뭉쳐 사이트의 완성을 위해 노력하고 있습니다.
      <br><br>해커톤 장소 : @@@@@@@@
      <br><br>연락처 : @@@@@@@@
      </span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>멋쟁이사자처럼이란?</div>
      <div class="collapsible-body"><span>멋쟁이사자처럼은 2013년 프로그래머 이두희가 설립한 프로그래밍 교육 단체입니다! 비전공자에게 프로그램을 가르쳐 주어 자신만의 웹 서비스를 만들고, 꿈을 실현하게 도와주는 단체입니다!</span></div>
    </li>
  </ul>
  
</div>