<!--로고-->
<div class ="container portfolio">
  <h5>Daily Quest</h5>
  <h6>여러분의 지루한 일상을 바꿔드립니다.</h6>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="main2.jpg"></div>
</div>
      
      
<!--캐러셀 사용-->

        <!--<div class="mainpicture">
           <div class="carousel carousel-slider center" data-indicators="true">
              <div class="carousel-fixed-item center">
              </div>
              <div class="carousel-item" href="#one!">
                <img src="main1.png">
              </div>
              <div class="carousel-item" href="#two!">
                <img src="main2.jpg">
              </div>
              <div class="carousel-item" href="#three!">
                <img src="main3.jpg">
              </div>
              <div class="carousel-item" href="#four!">
               <img src="main4.jpg">
              </div>
            </div>
        
        </div>-->
    </div>
    <div class="row center">
        <h3>데일리 퀘스트</h3>
    </div>
    <div class="row center">
        <h5>당신의 일상에 변화를!</h5>
    </div>
    
    <!--퀘스트 발급 버튼-->
    <div class="center">
        <a class="waves-effect waves-light btn-large grey darken-1 col s12 offset-5" href="/makeQuest"><i class="material-icons right">send</i>퀘스트 발급받기</a>
    </div>
    
    
