<!--로고-->
<div>
	<h1 class= "col s12 offset-s2">Daily Quest</h1>
</div>
<div class="row center">
	<h3>퀘스트 정보</h3>
</div>

<!--타이머-->
<div>
  <h1>타이머 애니메이션 적용</h1><br>
</div>
<!--퀘스트 설명창-->
<div class="row">
  <div class="col s12 m7">
    <div class="card grey lighten-3 center">
      <div class="card-content blue-grey-text text-darken-4 center">
        <span class="card-title center grey lighten-1">퀘스트 완료하기</span>
        <p>카데고리: 지역탐방</p>
        <p>퀘스트 이름: 동국대를 정복하라</p>
        <p>퀘스트 설명: 동국대에 방문하기<br> 
                        동국대 코끼리가 그렇게 멋있다며? 코끼리를 보지 않으면 동국대에 왔다고 보기 어렵지! <br> 
                        동국대 코끼리 사진 찍기</p>
      </div>
    </div>
  </div>
</div>

<!--퀘스트 파일 업로드-->
  <form action="#">
    <div class="file-field input-field center">
      <div class="btn">
        <span>찾아보기</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="파일 업로드">
      </div>
    </div>
  </form>