 <!--로고-->
 <div class="container">
   <div class="row center">
      <div> <h1>퀘스트를 실패하셨습니다.</h1></div>
      <img src="/fail<%= @num %>.jpg" style ="size:100% 100%; padding-top:15px; padding-left:15px; ">
      <div> ㅉㅉ 그것밖에 못하냐? 한심하다 한심해...</div>
      <div> <h3>내일까지 기다려 주세요.</h3></div>
   </div>
 </div>
<div>
