// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.marginb{
    margin: 10px;
}

.mainpicture{
    height: 300px;
}
.quest1{
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: white;
      background: url("question1.png") no-repeat bottom center scroll;
      background-color: black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
}
.quest2{
      display: table;
      width: 100%;
      height: auto;
      padding: 100px 0;
      text-align: center;
      color: white;
      background: url("question2.png") no-repeat bottom center scroll;
      background-color: black;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
}


#carousel_num1{

      background: url("page_image0.JPG") no-repeat  center scroll;
      background-size: 100% 100%;
    
}


#carousel_num2{
  
    background: url("page_image0.JPG") no-repeat bottom center scroll;
    background-size: 100% 100%;
}

@font-face {
  font-family: 'NotoSans-Bold';    
  src: url('/assets/NotoSans-Bold.ttf') format('truetype'),
}
@font-face {
  font-family: 'NotoSansUI-Bold';    
  src: url('/assets/NotoSans-BoldUI.ttf') format('truetype'),
}
@font-face {
  font-family: 'Jeju';    
  src: url('/assets/JejuMyeongjo.ttf') format('truetype'),
}


*{
  font-family: 'Jeju';
}
// #carousel_num3{
//     background-image: url("Wpage_image2.JPG");
//     background-color: #cccccc;
// }
// #carousel_num4{
//     background-image: url("page_image3.JPG");
//     background-color: #cccccc;
// }